In [15]:
df = pd.read_excel('sales_data.xlsx')

In [16]:
list(df.columns)

['Client Name', 'Item', 'Location', 'Full Price', 'Discount']

In [17]:
# Size - Rows/Columns
df.shape

(11, 5)

In [26]:
# Datatypes
df.dtypes

Client Name    object
Item           object
Full Price      int64
Discount        int64
dtype: object

In [18]:
column = df['Client Name']
print(column)

0        John
1        Sara
2       Kevin
3        John
4     Natasha
5     Natasha
6       Amine
7        Sara
8        John
9      Angela
10      Kevin
Name: Client Name, dtype: object

In [19]:
df2 = df[['Client Name' ,'Item']]
print(df2)

   Client Name        Item
0         John      Laptop
1         Sara       Phone
2        Kevin       Watch
3         John       Phone
4      Natasha     Console
5      Natasha      Laptop
6        Amine  Microphone
7         Sara       Watch
8         John    Keyboard
9       Angela       Phone
10       Kevin       Mouse

In [20]:
df.drop('Location', axis=1, inplace=True)
print(df)

   Client Name        Item  Full Price  Discount
0         John      Laptop        1500       150
1         Sara       Phone         650         0
2        Kevin       Watch         220         0
3         John       Phone         800        20
4      Natasha     Console         300         0
5      Natasha      Laptop        2000       120
6        Amine  Microphone          80         0
7         Sara       Watch         300        15
8         John    Keyboard          60         5
9       Angela       Phone        1000         0
10       Kevin       Mouse          40         5

In [21]:
df.loc[0]

Client Name      John
Item           Laptop
Full Price       1500
Discount          150
Name: 0, dtype: object

In [22]:
df.drop(7, axis=0, inplace=True)
print(df)

   Client Name        Item  Full Price  Discount
0         John      Laptop        1500       150
1         Sara       Phone         650         0
2        Kevin       Watch         220         0
3         John       Phone         800        20
4      Natasha     Console         300         0
5      Natasha      Laptop        2000       120
6        Amine  Microphone          80         0
8         John    Keyboard          60         5
9       Angela       Phone        1000         0
10       Kevin       Mouse          40         5

In [23]:
df.drop([2,3,6], axis=0, inplace=True)
print(df)

   Client Name      Item  Full Price  Discount
0         John    Laptop        1500       150
1         Sara     Phone         650         0
4      Natasha   Console         300         0
5      Natasha    Laptop        2000       120
8         John  Keyboard          60         5
9       Angela     Phone        1000         0
10       Kevin     Mouse          40         5

In [28]:
results = df[['Full Price', 'Discount']].aggregate('sum')
print(results)

Full Price    5550
Discount       280
dtype: int64

In [29]:
results = df.aggregate({'Full Price':'sum','Discount':['min', 'max']})
print(results)

     Full Price  Discount
sum      5550.0       NaN
min         NaN       0.0
max         NaN     150.0