In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('sales_data.xlsx')

In [ ]:
list(df.columns)

In [ ]:
# Size - Rows/Columns
df.shape

In [ ]:
print(df)

In [ ]:
# Datatypes
df.dtypes

In [ ]:
df['Client Name']

In [ ]:
column = df['Client Name']
print(column)

In [ ]:
df2 = df[['Client Name' ,'Item']]
print(df2)

In [ ]:
df.drop('Location', axis=1, inplace=True)
print(df)

In [ ]:
df.loc[0]

In [ ]:
df.drop(7, axis=0, inplace=True)
print(df)

In [ ]:
df.drop([2,3,6], axis=0, inplace=True)
print(df)

In [ ]:
results = df[['Full Price', 'Discount']].aggregate('sum')
print(results)

In [ ]:
results = df.aggregate({'Full Price':'sum','Discount':['min', 'max']})
print(results)

# Product data

In [24]:
df_productdata = pd.read_excel('product_data.xlsx')
df_productdata

      Product  Price    Tax   Total
0   Product 1     61  15.25   76.25
1   Product 2     92  23.00  115.00
2   Product 3     11   2.75   13.75
3   Product 4     11   2.75   13.75
4   Product 5     25   6.25   31.25
5   Product 6     63  15.75   78.75
6   Product 7     70  17.50   87.50
7   Product 8     87  21.75  108.75
8   Product 9     78  19.50   97.50
9  Product 10     37   9.25   46.25

In [25]:
df_productdata.drop([3,6,9], axis=0, inplace=True)
print(df_productdata)

     Product  Price    Tax   Total
0  Product 1     61  15.25   76.25
1  Product 2     92  23.00  115.00
2  Product 3     11   2.75   13.75
4  Product 5     25   6.25   31.25
5  Product 6     63  15.75   78.75
7  Product 8     87  21.75  108.75
8  Product 9     78  19.50   97.50

In [26]:
Sum_Total = df_productdata[['Total']].aggregate('sum')
print(Sum_Total)

Total    521.25
dtype: float64

In [28]:
# Saving the file
df_productdata.to_excel('final_df_productdata.xlsx', index=False)