# Openpyxl Tutorial Notebook 
-----------------------------------------------

## Workbooks

In [4]:
# load existing excel file
from openpyxl import load_workbook
wb = load_workbook('sales_data.xlsx')

In [6]:
# create new fil
from openpyxl import Workbook
wb = Workbook()

In [7]:
# save the workbook 
wb.save('NewFile.xlsx')

## Worksheets

In [10]:
# get active sheet
ws = wb.active
ws

In [11]:
# get all sheets names 
wb.sheetnames

['Sheet']

In [12]:
# get sheet by name 
ws = wb["Sheet"]

In [13]:
# create new sheet 
wb.create_sheet('NewSheet')
wb.sheetnames

['Sheet', 'NewSheet']

In [ ]:
# get sheet title 
ws.title

In [ ]:
# set sheet title 
ws.title = 'Sheet2'
ws.title

## Cells, Rows, Columns, and Ranges

In [15]:
# get cell value 
print(ws['B4'].value)

None

In [16]:
# set cell value 
ws['B4'] = 'Cup'
ws['B4'].value

'Cup'

In [17]:
# append entire row
ws.append(['test1', 'test2', 'test3', 'test4'])

In [18]:
# EXAMPLE: Append multiple rows 
from openpyxl import Workbook
wb = Workbook()

ws = wb.active

ws.append(['test1', 'test2', 'test3', 'test4'])
ws.append(['test5', 'test6', 'test3', ])
ws.append(['', 'test7', 'test8'])
ws.append(['test9', '', '', 'test10'])
ws.append(['test11', 'test12', '', 'test13'])

wb.save('test-file.xlsx')

In [ ]:
# merge cells 
ws.merge_cells('A1:D3')

In [ ]:
# unmerge cells 
ws.unmerge_cells('A1:D3')

In [ ]:
# insert an empty row 
ws.insert_rows(3)

In [ ]:
# delete a row
ws.delete_rows(3)

In [ ]:
# insert an empty column
ws.insert_cols(2)

In [ ]:
# delete a column 
ws.delete_cols(2)

In [ ]:
# EXAMPLE: append multiple filled rows, then an enpty row and and empty column 
from openpyxl import Workbook
wb = Workbook()

ws = wb.active

ws.append([1, 2, 3, 4])
ws.append([5, 6, 7, 8])
ws.append([9, 10, 11, 12])
ws.append([13, 14, 15, 16])
ws.append([17, 18, 19, 20])

ws.insert_rows(3)
ws.insert_cols(2)

wb.save('test-file2.xlsx')

In [ ]:
# EXAMPLE: append multiple rows, then the entire range 
from openpyxl import Workbook
wb = Workbook()

ws = wb.active

ws.append([1, 2, 3, 4])
ws.append([5, 6, 7, 8])
ws.append([9, 10, 11, 12])
ws.append([13, 14, 15, 16])
ws.append([17, 18, 19, 20])

ws.move_range('A1:D5', rows=3, cols=3)

wb.save('test-file3.xlsx')

## Formulas

In [19]:
# EXAMPLE: using SUM formula 
from openpyxl import Workbook

wb = Workbook()
ws = wb.active

rows = [
    ['Id', 'Quantity', 'Price', 'Solde'],
    ['id-001', 27, 129.99, 24],
    ['id-002', 144, 24.99, 30],
    ['id-003', 57, 35.99, 45],
    ['id-004', 67, 15.99, 40],
    ['id-005', 44, 30.99, 30],
    ['id-006', 17, 25.99, 35],
]

for row in rows:
    ws.append(row)
    
ws['C9'] = '=SUM(C2:C7)' 

wb.save('SUM-formula-file.xlsx')

## Lookups

In [24]:
# EXAMPLE: try look up using both pure python as well as using a formula
from openpyxl import Workbook

wb = Workbook()
ws = wb.active

rows = [
    ['Id', 'Quantity', 'Price', 'Solde'],
    ['id-001', 27, 129.99, 24],
    ['id-002', 144, 24.99, 30],
    ['id-003', 57, 35.99, 45],
    ['id-004', 67, 15.99, 40],
    ['id-005', 44, 30.99, 30],
    ['id-006', 17, 25.99, 35],
]

In [25]:
for row in rows:
    ws.append(row)

In [26]:
ws['F1'].value = 'Id'
ws['G1'].value = 'Price'
ws['F2'].value = 'id-004'

In [27]:
for row in ws.rows:
    if row[0].value == ws['F2'].value:
        ws['G2'] = row[2].value

In [28]:
ws['G2'] = '=LOOKUP(F2, A1:A7,C1:C7)'   

wb.save('lookup-file.xlsx')