# 1. Import Data

In [10]:
# Import
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [11]:
# Import data
# Excel import are better at handling datatyes
df = pd.read_excel('Samlet_Data.xlsx')

In [12]:
# Explore the data loaded
print(df.dtypes)
df.head()

Person      int64
Fz        float64
Cz        float64
Pz        float64
C3        float64
T3        float64
C4        float64
T4        float64
Fp1       float64
Fp2       float64
F3        float64
F4        float64
F7        float64
F8        float64
P3        float64
P4        float64
T5        float64
T6        float64
O1        float64
O2        float64
ADHD        int64
dtype: object

,Person,Fz,Cz,Pz,C3,T3,C4,T4,Fp1,Fp2,...,F4,F7,F8,P3,P4,T5,T6,O1,O2,ADHD
0,1,406.245216,278.553994,311.195205,231.255983,182.955381,163.578897,195.899262,214.960414,269.520053,...,166.977800,108.628261,145.869417,162.385593,185.066248,111.396126,455.738872,164.177427,168.898866,1
1,2,338.874206,321.806165,145.229491,128.877279,136.471658,120.199143,120.062534,114.842249,89.742555,...,141.277772,110.007362,86.789567,122.920235,79.270314,76.847722,146.568720,121.082799,120.554203,1
2,3,432.093213,534.124105,253.705071,258.938625,263.050806,234.238388,290.515299,231.549914,228.616968,...,203.028227,194.627793,233.775727,235.030187,221.558224,236.490592,239.846506,247.045629,291.176679,1
3,4,276.289074,248.060313,189.970392,189.830029,201.918945,178.838227,209.549240,174.300613,703.473139,...,137.053173,138.588268,140.688885,108.969814,109.844978,99.918767,199.793133,149.711277,156.627688,1
4,5,223.942213,206.882842,177.814803,161.306944,189.485906,157.751333,188.326250,174.606640,136.620136,...,183.765303,141.684913,132.586913,148.385760,126.067493,124.801694,157.602355,151.765398,161.908581,1

In [13]:
X = pd.get_dummies(df.drop(['ADHD', 'Person'], axis=1))
y = df['ADHD']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [29]:
y_train.head()

33    1
22    1
24    1
88    0
40    1
Name: ADHD, dtype: int64

# 2. Import Dependencies

In [30]:
from tensorflow.keras.models import Sequential, load_model # The models we use - Sequential
from tensorflow.keras.layers import Dense # Layers
from sklearn.metrics import accuracy_score

# 3. Build and Compile Model
More layers wil resulet in longer training time

In [31]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns))) # Layer 1 - 32 neurons
model.add(Dense(units=64, activation='relu')) # Layer 2 - 64 neurons
model.add(Dense(units=1, activation='sigmoid')) # One output - Yes/No

In [32]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics='accuracy') # Compile the model

# 4. Fit, Predict and Evaluate
epochs = 200 Traning setting - 200 "times"

Higher numer will result in a more accurate model. But a to high number will lead to overfitting

Accuracy should go up during the 200

In [ ]:
model.fit(X_train, y_train, epochs=200, batch_size=32) # Model traning

In [35]:
y_hat = model.predict(X_test) # Use the test data - X_test

In [36]:
print(y_hat)

[[0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]
 [0.6594818]]

In [20]:
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

In [34]:
print(y_hat)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [22]:
# Evaluate the model against the test dataset and print results
# If it is too low use a higher number in epochs - ex. 500 >> 0.8
print(accuracy_score(y_test, y_hat))
print()
print("\nEvaluation against Test Dataset :\n------------------------------------")
model.evaluate(X_test, y_test)

0.7222222222222222


Evaluation against Test Dataset :
------------------------------------
1/1 [==============================] - 0s 132ms/step - loss: 0.5797 - accuracy: 0.7222

[0.5796681642532349, 0.7222222089767456]

# 5. Saving and Reloading

In [23]:
model.save('tfmodel') # Save the model in - tfmodel\assets

INFO:tensorflow:Assets written to: tfmodel\assets

In [24]:
#del model # Delete model

In [25]:
model = load_model('tfmodel') # Load model